<div>
    <menu-nav is-logged-in="false"></menu-nav>
    <div class="row">
        <div class="col-md-12">
            <div class="login_box">
                <p> Please fill in the information below to register! </p>
                <p> First Name: <input type="text" name="firstName" id="firstName" data-ng-model="vm.fname"/><br/><br/>
                    Last Name: <input type="text" name="lastName" id="lastName" data-ng-model="vm.lname"/></p><br/>
                <button type="button" class="btn btn-default" ng-click="vm.login(vm.fname, vm.lname)">Login</button>
                <br/>
            </div></div>
    </div>
</div>
