<div>
    <menu-nav></menu-nav>
    <div class="row">
        <div class="col-md-12">
            <div class="login_box">
                 <div class="row map_text">
                        Please fill in the information below to register! </p>
                     </div>
                <div class="row">
                    <div class="row login-spacing">
                        <div class="col-md-1">  First Name: </div> <div class="col-md-2"> <input type="text" name="firstName" id="firstName" data-ng-model="vm.fname"/></div>
                    </div>
                    <div class="row login-spacing">
                        <div class="col-md-1">  Last Name: </div> <div class="col-md-2"> <input type="text" name="firstName" id="lastName" data-ng-model="vm.lname"/></div>
                    </div>
                    <div class="row login-spacing">
                        <div class="col-md-1">  Username: </div> <div class="col-md-2"> <input type="text" name="firstName" id="username" data-ng-model="vm.username"/></div>
                    </div>
                    <div class="row login-spacing">
                        <div class="col-md-1">  Password: </div> <div class="col-md-2"> <input type="password" name="password" id="password" data-ng-model="vm.password"/></div>
                    </div>
                    <div class="row error login-spacing" ng-if="vm.errorMsg"> Please fill out the form completely and try again! </div>
                    <div class="row login-spacing" ng-if="vm.successMsg"> Registered Successfully! Click ok to log-in. </div>
                     <button type="button" class="btn btn-default menu_text" ng-click="vm.register()">Register</button>
                    <button type="button" class="btn btn-default menu_text" ng-click="vm.navigate('login')">Login</button>
                <br/>
            </div></div>
    </div>
</div>
