<div class="col-md-12">
    <div class="row login-spacing">
        <div class="col-md-4">
            <input class="search_box form-control" type="search" ng-model="searchText" ng-change="search(searchText)" ng-model-options="{debounce: 250}" placeholder="Type text to search youtube"/>
        </div>
        <div class="col-md-4"> Translate To: <select class="btn btn-default" ng-change="search(searchText)" ng-model="selectedLanguage" ng-options="lang.language for lang in languageOptions"></select></div>
        <div class="col-md-4" ng-if="selectedLanguage.value != 'en'"> {{ tranlsatedKeyword }}</div>
    </div>
    <div class="row">
        <div class="row margin-bottom" ng-repeat="result in searchResults">
            <div class="col-md-1">
                <img class="youtube_thumbnail" ng-src="{{result.snippet.thumbnails.default.url}}"></img>
            </div>
            <div class="col-md-10">
                <a ng-href="{{youtubeLink + result.id.videoId}}"><div class="row title_name" >{{result.snippet.title}}</div></a>
                <div class="row youtube_description">{{result.snippet.description}}</div>
            </div>
        </div>
    </div>
</div>
