<div>
    <div class="row">
        <div class="col-md-12">
            <div class="login_box">
                <div class="row error login-spacing" ng-if="vm.errorMsg"> Invalid Login, Please Try Again. </div>
                <div class="row login-spacing">
                    <div class="col-md-1"> <label class="margin_top" for="user">Username:</label> </div> <div class="col-md-3"> <input id="user" class="form-control" type="text" name="firstName" id="firstName" data-ng-model="vm.username"/></div>
                </div>
                <div class="row login-spacing">
                    <div class="col-md-1">  <label class="margin_top" for="pwd">Password:</label> </div> <div class="col-md-3"> <input id="pwd" class="form-control" type="password" name="password" id="password" data-ng-model="vm.password"/></div>
                </div>
                <div class="row">
                    <div class="col-md-4 register-text">
                    Don't have an account? <a href="" ng-click="vm.navigate('register')"> Register</a>.
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="fa fa-long-arrow-right fa-2x btn btn-default login_buttons" ng-click="vm.login(vm.username, vm.password)"></button>
                    <button g-login class="fa fa-google-plus-square fa-2x btn btn-danger login_buttons">  </button>
                    <button fb-login class="fa fa-facebook-square fa-2x btn btn-primary login_buttons">  </button>
                </div>
        </div></div>
    </div>
</div>
